In [2]:
import pandas as pd
import random
import os
import numpy as np

train_df = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/train.csv', parse_dates=['TIMESTAMP'])
test_df = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/test.csv', parse_dates=['TIMESTAMP'])

train_df.index = train_df['TIMESTAMP']
test_df.index = test_df['TIMESTAMP']

train_df = train_df.drop(columns=['TIMESTAMP','PRODUCT_ID'])
test_df = test_df.drop(columns=['TIMESTAMP','PRODUCT_ID'])

In [3]:
train_df.head()

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:22:00,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:30:00,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:39:00,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
2022-06-13 05:47:00,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN

In [4]:
test_df.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 02:09:00,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 08:42:00,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 10:56:00,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 11:04:00,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# 컬럼 중 결측치 비율 90%이상인 것들 제외

del_list = []

for i in range(4, 2878):
    if train_df.iloc[:,i].isnull().sum() / len(train_df.iloc[:,i]) >=0.9:
        del_list.append(train_df.columns[i])
    else:
        continue

print(del_list)

['X_130', 'X_131', 'X_337', 'X_338', 'X_339', 'X_360', 'X_361', 'X_362', 'X_371', 'X_372', 'X_383', 'X_561', 'X_699', 'X_759', 'X_760', 'X_761', 'X_934', 'X_935', 'X_936', 'X_937', 'X_1219', 'X_1407', 'X_1523', 'X_1524', 'X_1525', 'X_1540', 'X_1707', 'X_1708', 'X_1709', 'X_1710', 'X_1969', 'X_1970', 'X_1971', 'X_1972', 'X_1973', 'X_1974', 'X_1975', 'X_1976', 'X_1977', 'X_1978', 'X_1979', 'X_1980', 'X_1981', 'X_1982', 'X_1983', 'X_1984', 'X_1985', 'X_1986', 'X_1987', 'X_1988', 'X_1989', 'X_1990', 'X_1991', 'X_1992', 'X_1993', 'X_1994', 'X_1995', 'X_1996', 'X_1997', 'X_1998', 'X_1999', 'X_2000', 'X_2001', 'X_2002', 'X_2003', 'X_2004', 'X_2005', 'X_2006', 'X_2007', 'X_2008', 'X_2009', 'X_2010', 'X_2011', 'X_2012', 'X_2013', 'X_2014', 'X_2015', 'X_2016', 'X_2029', 'X_2030', 'X_2031', 'X_2032', 'X_2033', 'X_2034', 'X_2035', 'X_2036', 'X_2037', 'X_2038', 'X_2039', 'X_2040', 'X_2069', 'X_2077', 'X_2085', 'X_2092', 'X_2540', 'X_2541', 'X_2542', 'X_2545', 'X_2548', 'X_2551', 'X_2628', 'X_2629', 'X_2630', 'X_2631', 'X_2632', 'X_2633', 'X_2634', 'X_2635', 'X_2636', 'X_2637', 'X_2638', 'X_2639', 'X_2640', 'X_2641', 'X_2642', 'X_2643', 'X_2644', 'X_2645', 'X_2646', 'X_2647', 'X_2648', 'X_2649', 'X_2650', 'X_2651', 'X_2652', 'X_2653', 'X_2654', 'X_2655', 'X_2656', 'X_2657', 'X_2658', 'X_2659', 'X_2660', 'X_2661', 'X_2662', 'X_2663', 'X_2664', 'X_2665', 'X_2666', 'X_2667', 'X_2668', 'X_2669', 'X_2670', 'X_2671', 'X_2672', 'X_2673', 'X_2674', 'X_2675', 'X_2676', 'X_2677', 'X_2678', 'X_2679', 'X_2680', 'X_2681', 'X_2682', 'X_2683', 'X_2684', 'X_2685', 'X_2686', 'X_2687', 'X_2688', 'X_2689', 'X_2690', 'X_2691', 'X_2692', 'X_2693', 'X_2694', 'X_2695', 'X_2696', 'X_2697', 'X_2698', 'X_2699', 'X_2721', 'X_2722', 'X_2723', 'X_2773', 'X_2774', 'X_2775', 'X_2838', 'X_2844', 'X_2872', 'X_2873', 'X_2874']

In [8]:
len(del_list)

183

In [9]:
train_df = train_df.drop(columns=del_list)
test_df = test_df.drop(columns=del_list)

In [10]:
train_df.head()

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,383.0,368.296296,353.0,39.34,40.89,32.56,34.09,77.77,NaN,NaN
2022-06-13 05:22:00,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,383.0,367.735849,353.0,38.89,42.82,43.92,35.34,72.55,NaN,NaN
2022-06-13 05:30:00,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,383.0,367.320755,353.0,39.19,36.65,42.47,36.53,78.35,NaN,NaN
2022-06-13 05:39:00,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,384.0,369.188679,353.0,37.74,39.17,52.17,30.58,71.78,NaN,NaN
2022-06-13 05:47:00,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,383.0,367.351852,352.0,38.70,41.89,46.93,33.09,76.97,NaN,NaN

In [11]:
train_x = train_df.drop(columns=['Y_Class','Y_Quality'])

In [12]:
train_y = train_df['Y_Class']

* Robust Scaling 적용

In [15]:
train_x.fillna(0)

from sklearn.preprocessing import RobustScaler

train_robust = train_x.iloc[:,2:]

robust_scaler = RobustScaler()

fitted = robust_scaler.fit(train_robust)

train_robust = robust_scaler.transform(train_robust)

train_robust = pd.DataFrame(train_robust, columns=train_x.iloc[:,2:].columns, index = train_x.index)

train_robust.head()

/usr/local/lib/python3.8/dist-packages/numpy/lib/nanfunctions.py:1119: RuntimeWarning: All-NaN slice encountered
  r, k = function_base._ureduce(a, func=_nanmedian, axis=axis, out=out,
/usr/local/lib/python3.8/dist-packages/numpy/lib/nanfunctions.py:1374: RuntimeWarning: All-NaN slice encountered
  r, k = function_base._ureduce(

,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,...,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.777778,-0.788909,-0.746479,-2.427402,-2.219188,-1.468531,-3.042011,3.639769,NaN,NaN
2022-06-13 05:22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.777778,-0.796331,-0.746479,-2.504955,-1.934317,-0.585859,-2.869835,2.135447,NaN,NaN
2022-06-13 05:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.777778,-0.801828,-0.746479,-2.453253,-2.845018,-0.698524,-2.705923,3.806916,NaN,NaN
2022-06-13 05:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.765432,-0.777091,-0.746479,-2.703145,-2.473063,0.055167,-3.525482,1.913545,NaN,NaN
2022-06-13 05:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.777778,-0.801416,-0.760563,-2.537699,-2.071587,-0.351981,-3.179752,3.409222,NaN,NaN

In [16]:
train_x_robust = pd.concat([train_x.iloc[:,0:2], train_robust], axis=1)

train_x_robust.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.777778,-0.788909,-0.746479,-2.427402,-2.219188,-1.468531,-3.042011,3.639769,NaN,NaN
2022-06-13 05:22:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.777778,-0.796331,-0.746479,-2.504955,-1.934317,-0.585859,-2.869835,2.135447,NaN,NaN
2022-06-13 05:30:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.777778,-0.801828,-0.746479,-2.453253,-2.845018,-0.698524,-2.705923,3.806916,NaN,NaN
2022-06-13 05:39:00,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.765432,-0.777091,-0.746479,-2.703145,-2.473063,0.055167,-3.525482,1.913545,NaN,NaN
2022-06-13 05:47:00,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.777778,-0.801416,-0.760563,-2.537699,-2.071587,-0.351981,-3.179752,3.409222,NaN,NaN

* scaling 진행한 데이터로 catboostclassifier 학습

In [17]:
!pip install catboost
from catboost import CatBoostClassifier

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 23.9 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.2.1)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [18]:
train_x_robust = pd.get_dummies(train_x_robust, columns=['LINE', 'PRODUCT_CODE'])

train_x_robust.head()

,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,...,X_2875,LINE_T010305,LINE_T010306,LINE_T050304,LINE_T050307,LINE_T100304,LINE_T100306,PRODUCT_CODE_A_31,PRODUCT_CODE_O_31,PRODUCT_CODE_T_31
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-06-13 05:14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,1,0,0,0,1,0,0
2022-06-13 05:22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,1,0,0,1,0,0
2022-06-13 05:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,1,0,0,0,1,0,0
2022-06-13 05:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,1,0,0,1,0,0
2022-06-13 05:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,1,0,0,0,1,0,0

In [19]:
cat_best = CatBoostClassifier(random_state=37, depth=5, iterations=40, learning_rate=0.04)
cat_best.fit(train_x_robust, train_y)

0:	learn: 1.0701794	total: 105ms	remaining: 4.11s
1:	learn: 1.0450742	total: 142ms	remaining: 2.69s
2:	learn: 1.0216364	total: 178ms	remaining: 2.19s
3:	learn: 1.0000184	total: 214ms	remaining: 1.93s
4:	learn: 0.9815568	total: 250ms	remaining: 1.75s
5:	learn: 0.9633586	total: 286ms	remaining: 1.62s
6:	learn: 0.9468197	total: 324ms	remaining: 1.53s
7:	learn: 0.9314692	total: 370ms	remaining: 1.48s
8:	learn: 0.9185996	total: 405ms	remaining: 1.39s
9:	learn: 0.9048177	total: 440ms	remaining: 1.32s
10:	learn: 0.8916502	total: 475ms	remaining: 1.25s
11:	learn: 0.8796669	total: 511ms	remaining: 1.19s
12:	learn: 0.8688492	total: 547ms	remaining: 1.14s
13:	learn: 0.8578807	total: 582ms	remaining: 1.08s
14:	learn: 0.8486891	total: 603ms	remaining: 1s
15:	learn: 0.8387775	total: 638ms	remaining: 957ms
16:	learn: 0.8304540	total: 674ms	remaining: 911ms
17:	learn: 0.8229819	total: 709ms	remaining: 867ms
18:	learn: 0.8160113	total: 745ms	remaining: 823ms
19:	learn: 0.8077811	total: 782ms	remaining: 782ms
20:	learn: 0.8010969	total: 818ms	remaining: 740ms
21:	learn: 0.7943147	total: 854ms	remaining: 699ms
22:	learn: 0.7874914	total: 889ms	remaining: 657ms
23:	learn: 0.7823456	total: 924ms	remaining: 616ms
24:	learn: 0.7757086	total: 962ms	remaining: 577ms
25:	learn: 0.7709220	total: 1s	remaining: 539ms
26:	learn: 0.7653229	total: 1.04s	remaining: 499ms
27:	learn: 0.7601031	total: 1.07s	remaining: 459ms
28:	learn: 0.7560377	total: 1.11s	remaining: 420ms
29:	learn: 0.7517181	total: 1.14s	remaining: 381ms
30:	learn: 0.7475990	total: 1.18s	remaining: 342ms
31:	learn: 0.7448463	total: 1.22s	remaining: 304ms
32:	learn: 0.7408589	total: 1.25s	remaining: 265ms
33:	learn: 0.7363214	total: 1.29s	remaining: 227ms
34:	learn: 0.7319768	total: 1.32s	remaining: 189ms
35:	learn: 0.7293420	total: 1.36s	remaining: 151ms
36:	learn: 0.7261082	total: 1.41s	remaining: 114ms
37:	learn: 0.7237317	total: 1.44s	remaining: 75.9ms
38:	learn: 0.7204635	total: 1.48s	remaining: 37.9ms
39:	learn: 0.7177902	total: 1.51s	remaining: 0us

In [20]:
test_df_robust = test_df.iloc[:,2:]

test_df_robust = robust_scaler.transform(test_df_robust)

test_df_robust = pd.DataFrame(test_df_robust, columns = test_df.iloc[:,2:].columns, index = test_df.index)

In [21]:
test_robust = pd.concat([test_df.iloc[:,0:2], test_df_robust], axis=1)

test_robust.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2875
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,T100306,T_31,0.0,-0.2,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 02:09:00,T100304,T_31,0.0,-0.4,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 08:42:00,T100304,T_31,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 10:56:00,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.259259,0.216184,0.239437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-09 11:04:00,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.234568,0.203196,0.239437,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
test_robust = pd.get_dummies(test_robust, columns=['LINE','PRODUCT_CODE'])
test_robust.head()

,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,...,X_2875,LINE_T010305,LINE_T010306,LINE_T050304,LINE_T050307,LINE_T100304,LINE_T100306,PRODUCT_CODE_A_31,PRODUCT_CODE_O_31,PRODUCT_CODE_T_31
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2022-09-09 02:01:00,0.0,-0.2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,0,0,0,0,0,1,0,0,1
2022-09-09 02:09:00,0.0,-0.4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,0,0,1,0,0,0,1
2022-09-09 08:42:00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,0,0,1,0,0,0,1
2022-09-09 10:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,0,0,0,0,0,1,0,0
2022-09-09 11:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,1,0,0,0,0,1,0,0

In [23]:
preds = cat_best.predict(test_robust)

In [24]:
submit = pd.read_csv('/content/drive/MyDrive/LG Aimers 2기/데이터/sample_submission.csv')

submit['Y_Class'] = preds

submit.to_csv('/content/drive/MyDrive/LG Aimers 2기/제출/baseline_submission14.csv', index=False)